@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
header {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav {
  width: 25%;
  height: 120px;
  margin-bottom: 30px;
  &-logo {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &-bar {
    width: 30%;
    height: 50%;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    font-family: "Indie Flower", cursive;
  }
  &-contact {
    text-decoration: none;
    color: black;
  }
  &-accueil {
    text-decoration: none;
    color: black;
  }
  &-panier {
    text-decoration: none;
    color: black;
  }
}
.boutique {
  font-size: 40px;
  text-align-last: center;
  margin-bottom: 50px;
  font-family: "Indie Flower", cursive;
}
.image-ours {
  height: 3rem;
  width: 3rem;
}
.bears {
  overflow: hidden;
  border: 2px solid black;
  background-color: #e6cee1;
  width: 47vh;
  height: 55vh;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 30px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease-in-out;

  &-img {
    width: 100%;
    height: 60%;
    background-position: center center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
}

// FOOTER
.container-footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  background-color: #d89bcb;
  margin-top: 50px;
}
.container-footer__title {
  align-self: center;
}
.container-footer ul {
  list-style-type: none;
  padding: 0;
}
.container-footer ul a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

// PAGE PRODUIT DESCRIPTION
.bears-description {
  border: 2px solid black;
  background-color: #e6cee1;
  width: 120vh;
  height: 40vh;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 30px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease-in-out;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;

  &__img {
    height: 40vh;
    background-position: center center;
    background-size: cover;
  }
  &__total {
    display: flex;
    flex-direction: column;
    padding-left: 21px;
  }
  &__color {
    width: 15%;
  }
  &__ajoutPanier {
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: purple;
    width: 40%;
  }
}

//page
.tftable {
  width: 70%;
  background-color: #9370db66;
  border-radius: 5%;
}
.name {
  font-size: 23px;
  text-decoration: underline;
}
td {
  // border: 2px blue solid;
  width: 10%;
  text-align: center;
  font-size: 20px;
}
