@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  width: 25%;
  height: 120px;
  margin-bottom: 30px;
}

.nav-logo {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.nav-bar {
  width: 30%;
  height: 50%;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
  font-family: "Indie Flower", cursive;
}

.nav-contact {
  text-decoration: none;
  color: black;
}

.nav-accueil {
  text-decoration: none;
  color: black;
}

.nav-panier {
  text-decoration: none;
  color: black;
}

.boutique {
  font-size: 40px;
  text-align-last: center;
  margin-bottom: 50px;
  font-family: "Indie Flower", cursive;
}

.image-ours {
  height: 3rem;
  width: 3rem;
}

.bears {
  overflow: hidden;
  border: 2px solid black;
  background-color: #e6cee1;
  width: 47vh;
  height: 55vh;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 30px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.bears-img {
  width: 100%;
  height: 60%;
  background-position: center center;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  background-color: #d89bcb;
  margin-top: 50px;
}

.container-footer__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-footer ul {
  list-style-type: none;
  padding: 0;
}

.container-footer ul a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.bears-description {
  border: 2px solid black;
  background-color: #e6cee1;
  width: 120vh;
  height: 40vh;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 30px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.bears-description__img {
  height: 40vh;
  background-position: center center;
  background-size: cover;
}

.bears-description__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 21px;
}
/*# sourceMappingURL=style.css.map */