@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
header {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav {
  width: 25%;
  height: 120px;
  margin-bottom: 30px;
  &-logo {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &-bar {
    width: 30%;
    height: 50%;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    font-family: "Indie Flower", cursive;
  }
  &-contact {
    text-decoration: none;
    color: black;
  }
  &-accueil {
    text-decoration: none;
    color: black;
  }
  &-panier {
    text-decoration: none;
    color: black;
  }
}
.boutique {
  font-size: 40px;
  text-align-last: center;
  margin-bottom: 50px;
  font-family: "Indie Flower", cursive;
}
.image-ours {
  height: 3rem;
  width: 3rem;
}
.bears {
  background-color: white;
  width: 25%;
  height: 70%;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid black;
  margin: 20px;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  &-name {
    padding-left: 15px;
  }
  &-price {
    padding-left: 15px;
  }
  &-desc {
    padding-left: 15px;
  }
}

.bears-img {
  width: 100%;
}
// FOOTER
.container-footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  background-color: #d89bcb;
  margin-top: 50px;
}
.container-footer__title {
  align-self: center;
}
.container-footer ul {
  list-style-type: none;
  padding: 0;
}
.container-footer ul a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
